@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    user-select: none;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.container
{
    position: relative;
}
.container form{
    width: 100%;
}
.container h2{
    font-size: 30px;
    font-weight: 400;
    color: #333;
    text-align: center;
}
.alert{
    text-align: center;
    font-size: 18px;
}
.container input[type="text"]{
    width: 100%;
    position: relative;
    height: 60px;
    margin:15px 0 20px;
    background: transparent;
    padding: 0 20px;
    outline: none;
    border: none;
    font-size: 24px;
    letter-spacing: 4px;
    box-sizing: border-box;
    border-radius: 8px;
    color: #333;
    box-shadow: -4px -4px 10px rgba(255, 255, 255,1),
                inset 4px 4px 10px rgba(0, 0, 0,0.05),
                inset -4px -4px 10px rgba(255, 255, 255,1),
                4px 4px 10px  rgba(0, 0, 0,0.05);
}


.container p{
    font-size: 20px;
    color: dimgray;
    font-weight: 700;
    font-family: 'Cinzel', serif;
    text-align: end;
}

.container p a{
    color: coral;
    font-size: 40px;
}

.container p a:hover{
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}